 <style>
    body {
      background: linear-gradient(120deg, rgb(226, 71, 185), rgb(192, 144, 62));
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    h1 {
      margin-top: 1%;
    }
    #password {
      margin-top: 3%;
      padding: 7px 30px;
      border-radius: 5px;
    }
    .card {
      height: 50%;
      width: 30%;
      border-radius: 20px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 10%;
    }
    #show {
      font-size: larger;
      margin-top: 5%;
      color: rgb(226, 71, 185);
    }
  </style>
